spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: postgres
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.example.microservices.auth: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
